extends layout

block title
  title D3

block content
  section.slide
    h1 D3
    h4 Data Driven Documents

  section.slide
    h2 slide 2
    p some content
          ul
            li point 1
            li point 2
            li point 3
